article {
    border: solid 1px var(--primary-color);
}
.song {
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: var(--on-surface);
    margin: 15px;
}
.song.heading {
  padding: 0px 0px 0 20px;
}
.song-column {
  padding: 18px;
}
.song-column.data {
  flex-grow: 1;
}
.song-column.buttons button:hover {
  filter: brightness(115%);
}
.song-id {
  color: var(--primary-color);
  padding: 10px 0px 0px 20px;
}
.song.artist {
    padding: 10px 20px 20px 20px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}