.songList {
    border: 1px solid #555;
    background-color: var(--surface-container);
    margin: auto;
}

.card-row {
    border-bottom: 1px solid #3c3c3c;
    padding: 18px;
}

.card-row .title {
  flex-grow: 1;
}