.container {
    position: relative;
    width: 200px;
    height: max-content;
    min-height: 100px;
    margin: auto;
    border: 1px solid #666;
    background: var(--primary-container);
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.25;
}

.text {
    color: var(--on-primary-container);
}