* {
  font-family: 'Lato', sans-serif;
}
body {
  background: var(--surface);
}

p,
small,
h1,
h2,
h3,
div {
  color: var(--on-surface);
}

:root {
  --surface: #141218 !important;
  --on-surface: #E6E0E9;

  --surface-container: #211F26;

  --primary-color: #D0BCFF;
  --on-primary: #381E72;

  --primary-container: #4F378B;
  --on-primary-container: #EADDFF;

  --secondary-color: #CCC2DC;
  --on-secondary: #332D41;

  --tertiary-color: #EFB8C8;
  --on-tertiary: #492532;

  --error: #F2B8B5;
  --on-error: #601410;
  --error-container: #8C1D18;
  --on-error-container: #F9DEDC;
}

button.primary {
  padding: 16px;
  margin: 6px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: var(--on-primary);
  font-weight: bold;
  border-radius: 8px;
}

button.primary:hover {
  filter: brightness(115%);
}

button.tertiary {
  padding: 16px;
  margin: 6px;
  border: solid 1px var(--tertiary-color);
  background: var(--tertiary-color);
  color: var(--on-tertiary);
  font-weight: bold;
  border-radius: 8px;
}

button.tertiary:hover {
  filter: brightness(115%);
}

.align-end {
  float: inline-end;
}

div.align-image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.floating-action {
    float: inline-end;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.flip-card-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

div.bottom-center {
  position:absolute;
  bottom: 0;
  right: 45%;
}